<div class="intro">
	<div class="sesion">
		<p>Empieza a descubrir diseño:</p>
		<%- @providers.each do |provider| %>
	  	<%= link_to provider.to_s, "auth/#{provider.to_s}" %>
	<%- end%>
	</div>
</div>