@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

* {
	margin: 0px;
	padding: 0px;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	line-height: 1.5em;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.main_menu {
	padding: 20px 0px;
	border-bottom: 1px solid #ccc;
}

.main_menu .logo {
	display: inline-block;
}

.links_menu {
	display: inline-block;
	position: relative;
	left: 700px;
}

.links_menu a  {
	background: #000;
	text-decoration: none;
	color: #fff;
	padding: 10px;
	border-radius: 4px;

}